html, body {
    background: black;
    min-height: 100vh;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 600px;
    height: 300px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    border: solid 4px white;
    padding: 12px 24px;
}

.heading, .content {
    color: white;
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
}

.content {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
}